<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Home Section -->
    <section id="home" class="home-section">
        <div class="home-text">
            <h1>Hi, I am Tanaya Ranade</h1>
            <p>Looking for opportunieties as a Data Analyst</p>
        </div>
        <div class="home-image">
            <img src="{{ url_for('static', filename='css/images/formal.jpg') }}" alt="Profile Picture">
        </div>
    </section>

    
    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Your Name</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html> -->
